<section class="last"></section>
<section class="customer-reviews customer-reviews__container">
  <h2 hidden>Customer reviews</h2>
  <div class="customer-reviews__thumb">
    <picture>
      <source
        srcset="
          ../src/customer-reviews/many-ice-cream.jpg    1x,
          ../src/customer-reviews/many-ice-cream@2x.jpg 2x
        "
        media="(min-width: 1200px)"
      />
      <source
        srcset="
          ../src/customer-reviews/many-ice-cream-tablet.jpg    1x,
          ../src/customer-reviews/many-ice-cream-tablet@2x.jpg 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ../src/customer-reviews/many-ice-cream-mobile.jpg    1x,
          ../src/customer-reviews/many-ice-cream-mobile@2x.jpg 2x
        "
        media="(max-width: 767px)"
      />
      <img
        src="../src/customer-reviews/many-ice-cream.jpg"
        alt="a lot of ice cream"
      />
    </picture>
  </div>

  <div class="customer-reviews__item">
    <div class="customer-reviews__foto-wrap">
      <picture>
        <source
          srcset="
            ../src/customer-reviews/reviewer-1.jpg    1x,
            ../src/customer-reviews/reviewer-1@2x.jpg 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ../src/customer-reviews/reviewer-1-tablet.jpg    1x,
            ../src/customer-reviews/reviewer-1-tablet@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ../src/customer-reviews/reviewer-1-mobile.jpg    1x,
            ../src/customer-reviews/reviewer-1-mobile@2x.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img
          src="../src/customer-reviews/reviewer-1.jpg"
          alt="a lot of ice cream"
        />
      </picture>
    </div>
    <p class="customer-reviews__text">
      I love visiting your cafe. You prepare the most delicious ice cream in Los
      Angeles! In addition, you have beautiful serving, cozy atmosphere and
      polite staff.
    </p>
    <p class="customer-reviews__desc"></p>
  </div>
  <div class="customer-reviews__slider"></div>
</section>
